<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/login.css')}}">
</head>
<body>
    <div class="container">
        <form action="">
            <h1>Sign In</h1>
            <label for="">Your Username</label>
            <input type="text" name="" id="" placeholder="Enter ur username" class="input1">
            <label for="">Your Password</label>
            <input type="text" placeholder="Enter ur password" class="input1">
            <div class="forget">
                <div class="remember">
                    <input type="checkbox">
                    <span class="Remb">Remember me</span>
                </div>
                <a href="">Forget password?</a>
            </div>
            <button>Login</button>
            <div class="register">
                <span>Not a member?</span>
                <a href="">Register here!</a>
            </div>
        </form>
    </div>
</body>
</html>
